<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments.html :: headerfiles"></head>

<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
    <header th:insert="fragments.html :: nav"></header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card text-center mt-4 mx-auto">
                    <div class="card-header">
                        <i class="fa fa-exclamation mr-1"></i><span
                            th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|"></span>
                    </div>

                    <div class="card-body">
                        <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
                        <a class="btn btn-primary btn-lg" href="" th:href="@{/index}">Back to Home Page</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>